{% load static %}
<!-- Хедер -->
<header class="site-header">
    <div class="container">
        <a href="{% url 'main:main' %}" class="logo">
            <i class="fas fa-pills"></i>
            <span class="logo-text">Аптечная полка</span>
        </a>

        <!-- Навигация для всех пользователей -->
        <nav class="main-nav">
            {% if user.is_authenticated %}
                <a href="{% url 'main:catalog' %}" class="nav-link">
                    <i class="fas fa-tablets"></i> Все лекарства
                </a>
                <a href="#" class="nav-link">
                    <i class="fas fa-user"></i> Профиль
                </a>
                <a href="#" class="nav-link">
                    <i class="fas fa-sign-out-alt"></i> Выйти
                </a>
            {% else %}
                <a href="{% url 'main:login' %}" class="nav-link">
                    <i class="fas fa-sign-in-alt"></i> Войти
                </a>
                <a href="{% url 'main:register' %}" class="nav-link">
                    <i class="fas fa-user-plus"></i> Регистрация
                </a>
                <a href="{% url 'main:catalog' %}" class="nav-link">
                    <i class="fas fa-tablets"></i> Все лекарства
                </a>
            {% endif %}
        </nav>
    </div>
</header>